@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

        @media screen and (min-width: 1025px){
            body{
                background-color: #353b48;
            }
            div.Title{
                text-align: center;
                font-family:'Roboto', sans-serif;
            }
            .mainTitle{
                padding-left:3vw;
                text-align: center;
                font-size: 6.4vw;  
                font-family: bebas-neue, sans-serif;
                font-weight: 700;
                color: #dfe4ea;
            }
            .titleSub{
                padding-left:3vw;
                text-align: center;
                font-family:'Roboto', sans-serif;
                font-size: 1.56vw;
                color:#9ba1a8;
                font-weight: 500;
            }
            

            .SectionHeader{
                line-height: 0px;
                text-align: left;
                font-family:'Roboto', sans-serif;
                font-variant: small-caps;
                font-size: 3.65vw;
                color: #5480d1;
                font-weight: 700;
                cursor: default;
            }


            .SectionText{
                margin-left: 0.6vw;
                margin-top: 2vw;
                text-align: left;
                font-family:'Roboto', sans-serif;
                font-size: 1.3vw;
                color:#97a0a8;
                font-weight: 500;
                line-height: 2vw;
                cursor: default;

            }


            .hide{
                display:none;
            }

            .hoverable:hover + .hide{
                display:block;
                text-align: left;
                font-family:'Roboto', sans-serif;
                font-size: 1.05vw;
                color:#97a0a8;
                font-weight: 400;
                line-height: 1.3vw;
                
            }

            

            .subList{
                text-align: left;
                font-family:'Roboto', sans-serif;
                font-size: 1.05vw;
                color:#97a0a8;
                font-weight: 400;
                line-height: 1.3vw;


            }


            .gapCreation{
                padding: 1.12vw;
            }

            a{
                text-align: left;
                font-family:'Roboto', sans-serif;
                font-size: 1.3vw;
                color:#97a0a8;
                font-weight: 500;
                line-height: 2vw;
                text-decoration: underline;
                
            }

            a:hover{
                text-align: left;
                font-family:'Roboto', sans-serif;
                font-size: 1.3vw;
                color:#97a0a8;
                font-weight: 500;
                line-height: 2vw;
                text-decoration: underline;
                

            }

            .stickyTools{
                text-align: right;
                font-family:'Roboto', sans-serif;
                font-weight: 400;
                color: #bdc3c7;
                font-size: 1vw;
                position: -webkit-sticky;
                position: sticky;
                
                top:0;
            }

            .stickyTools a{
                text-align: right;
                font-family:'Roboto', sans-serif;
                font-weight: 400;
                color: #bdc3c7;
                font-size: 1vw;
                line-height: 0vw;
                text-decoration: none;
            }

            button{
                padding-right: 0vw;
                text-align: right;
                font-family:'Roboto', sans-serif;
                font-weight: 400;
                color: #bdc3c7;
                font-size: 1vw;
                background-color: Transparent;
                background-repeat:no-repeat;
                border: none;
                cursor:pointer;
                overflow: hidden;
                outline:none;
            }


        }

        @media screen and (max-width: 1024px){
            body{
                background-color: #353b48;
            }
            div.Title{
                text-align: center;
                font-family:'Roboto', sans-serif;
                
            }
            .mainTitle{
                text-align: center;
                color: #dfe4ea;
                font-size: 10vw;  
                font-family:'Roboto', sans-serif;
                font-weight: 700;
                padding-left:6vw;
                
            }
            .titleSub{
                text-align: center;
                font-family:'Roboto', sans-serif;
                font-size: 3vw;
                color:#9ba1a8;
                font-weight: 500;
                padding-left:6vw;
                
        
            }
            

            .SectionHeader{
                line-height: 0.6vw;
                text-align: left;
                font-family:'Roboto', sans-serif;
                font-variant: small-caps;
                font-size: 5vw;
                color: #5480d1;
                font-weight: 700;
            }

            .SectionText{
                margin-top: 2.3vw;
                text-align: left;
                font-family:'Roboto', sans-serif;
                font-size: 2.5vw;
                color:#97a0a8;
                font-weight: 500;
                line-height: 3.3vw;

            }
            .hide{
                display:none;
            }

            .hoverable:hover + .hide{
                display:block;
                text-align: left;
                font-family:'Roboto', sans-serif;
                font-size: 2vw;
                color:#97a0a8;
                font-weight: 400;
                line-height: 2.7vw;
            }

            .subList{
                text-align: left;
                font-family:'Roboto', sans-serif;
                font-size: 2vw;
                color:#97a0a8;
                font-weight: 400;
                line-height: 2.7vw;
                
            }

            .gapCreation{
                padding: 2vw;
            }

            a{
                text-align: left;
                font-family:'Roboto', sans-serif;
                font-size: 2.5vw;
                color:#97a0a8;
                font-weight: 500;
                line-height: 3.3vw;
                text-decoration: underline;
            }
            .stickyTools{
                text-align: right;
                font-family:'Roboto', sans-serif;
                font-weight: 400;
                color: #bdc3c7;
                font-size: 1.9vw;
                
            }
            .stickyTools a{
                text-align: right;
                font-family:'Roboto', sans-serif;
                font-weight: 400;
                color: #bdc3c7;
                font-size: 1.9vw;
                line-height: 0vw;
                text-decoration: none;
            }

            button{
                text-align: right;
                font-family:'Roboto', sans-serif;
                font-weight: 400;
                color: #bdc3c7;
                font-size: 1.9vw;
                background-color: Transparent;
                background-repeat:no-repeat;
                border: none;
                cursor:pointer;
                overflow: hidden;
                outline:none;

            }

        }